<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
   <title>Dwonload</title>

   <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
   <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>-->
   <script type="text/javascript">/* <![CDATA[ */
       !window.jQuery && document.write('<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.js"><\/script>')
   /* ]]> */</script>

   <script type="text/javascript" src="<% request.uri_base %>/javascripts/bootstrap-tabs.js"></script>
   <!--<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.uploadProgress.js"></script>-->
   <script type="text/javascript" src="<% request.uri_base %>/javascripts/upload.js"></script>
   <script type="text/javascript" src="<% request.uri_base %>/javascripts/json2.js"></script>
   <!--<script type="text/javascript" src="<% request.uri_base %>/less/bootstrap/js/bootstrap-alerts.js"></script>-->
   <script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.form.js"></script>
   <script type="text/javascript" src="<% request.uri_base %>/javascripts/dwonloader.js"></script>

   <link rel="stylesheet" href="<% request.uri_base %>/less/bootstrap/bootstrap.min.css" />
</head>
<body>
   <div class="container">
      <div id="header">
         <a href="/"><h1>Dwonloader</h1></a>
         <h2> <% subtitle %> </h2>
         <a href="/logout">Log out </a> 
          <a href="/setlang?lang=nl"><img class="lang" src="<% request.uri_base %>/images/nl.png" /></a>
          <a href="/setlang?lang=en"><img class="lang" src="<% request.uri_base %>/images/en.png" /></a>
      </div><!--header -->
      <% content %>
      <div id="footer">
         &copy;Dwonloader by <a href="http://dwonloader.kalteronline.org"><span>Kalter&amp;Co</span></a>
      </div>
   </div><!--container -->
</body>
</html>
