<div class="container">
   <div id="content">
     <div id="header">
       <h1>Dwonloader</h1>
       <h2>A simple filesharing solution for everyone!</h2>
    </div><!--header -->
    <% file_list %>       
    <a href="/logout">Logout <% name %> </a> 
 </div><!--content-->
</div> <!-- container -->
